
# ENV_SCRIPT={{environment_file}}

SMTP_HOST={{smtp_host}}
SMTP_AUTH_USER={{smtp_auth_user}}
SMTP_AUTH_PASSWORD={{smtp_auth_password}}

DESTINATION_EMAIL=scanner@boone-schulz.de

DESTINATION_DIRECTORY={{destination_directory}}

SCAN_MODE=Color
SCAN_COLOR_DEPTH=8
SCAN_RESOLUTION=300
SCAN_FORMAT=pnm

DISPLAY_SCRIPT_HOME="/usr/local/bin"
DISPLAY_SCRIPT="display.sh"

LOCK_FILE=/var/tmp/scanning

WATCHDOG_TIME=120
